/*Whole File*/

body {
	background-color: whitesmoke;
	font-family: Verdana, Verdana, sans-serif;
	min-width:350px;
	width: auto;
}

* {
	box-sizing: border-box; /*include the padding and border in an element's total width and height.*/
}

/*Headline*/

header {
	color: #333333;
	background-color: #e76300;
	height: 70px;
	/*overflow: hidden;*/
}

.logo{
    float: left;
    padding: 10px;
    height: 80%;
    width: auto;
}

header div {
    width: 50%;
    height:100%;
    float:left;
    /*padding-top: 20px;*/
}

.abmelden-container {
	padding: 10px 10px 0 0;
	height:50px;
}

.abmelden{
	height: 100%;
	float: right;
	background-color: darkblue;
    border-radius: 8px;
    border: 1px solid #333333;
    color: whitesmoke;
    padding: 0px 32px;
    margin: 4px 2px;
    cursor: pointer;
}

/*headings*/


/*aside and nav*/

aside{
	border-bottom: 1px solid grey;
}

nav > ul {
	font-style: italic;
}

.info-data {
	float:right;
}

#aside_nav {
	/*margin-left: 2%;*/
	float:right;
	width:23%;
}



/*Hauptanzeige*/

section {
	width: 75%;
	border-right: 1px solid grey;
}

/*Flex*/
.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flex-item{
	width:200px;
	height:auto;
	overflow: hidden;
	margin: 10px;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background-color:white;
}

img {
	max-width:100%;
	height:auto;
}
				
.cover-title {
	text-align:center;
	font-size: 90%;
	font-weight: normal;
}

.price {
	text-align:center;
	font-size: 110%;
}

.time-interpret {
	padding: 0 4px;
	font-size: 60%;
}

.interpret {
	float:right;
}

/*Footer*/
footer{
    margin-top: 60px;
    text-align:center;
    width:100%;
    clear:left;
}

/*Responsive*/

@media screen and (max-width: 480px){
	#aside_nav {
		width:100%;
		float: none;
	}
	section {
		width:100%;
		border-top: 1px solid grey;
		border-right: 0px solid grey;
	}
	
	.flex-item{
		width:420px;
	}
	
	h1 {
		font-size:150%;
	}
}

@media screen and (min-width: 480px) and  (max-width: 768px){
	#aside_nav {
		width:100%;
		float: none;
	}
	section {
		width:100%;
		border-top: 1px solid grey;
		border-right: 0px solid grey;
	}
	aside {
		float:right;
		width: 50%;
		border-right: 0px solid grey;
		border-bottom: 0px solid grey;
		padding-left:10px;

		 
	}
	nav {
		border-right: 1px solid grey;
		width:50%;	
		height:220px;
		margin:0 0 10px 0;
	}
		
	
}
@media screen and (min-width: 768px) and (max-width: 1024px){

}
@media screen and (min-width: 1024px){

}




































