
/*Whole File*/
body {
    background-color: whitesmoke;
    font-family: Verdana, Verdana, sans-serif;
}
* {
    box-sizing: border-box; /*include the padding and border in an element's total width and height.*/
}

/*Headline*/
header{
    color: #333333;
    background-color: #e76300;
    height: 70px;
}
h1{
    padding-top: 20px;
}
.logo{
    float: left;
    padding: 10px;
}


/*Headings*/
h2{
    margin-top: 30px;
    margin-bottom: 30px;


}
h3{
    margin-top: 15px;
    margin-bottom: 15px;

}

/*Registrieren*/
.center {
    text-align: center;
}

/*Footer*/
footer{
    margin-top: 60px;
}

/*Flex*/
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}

.flex-item {
    padding: 5px;
    height: 30px;
    margin-top: 10px;
    text-align: left;
}

.invalid{
	border: 1px red solid;
}

/*Responsive*/
input[type=button], input[type=submit], input[type=reset] {
	background-color: #ea6e6e;
    border-radius: 8px;
    border: 1px solid #333333;
    color: black;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;

}

input[type=submit]:disabled{
	background-color: #acacac;
}

@media screen and (max-width: 399px){
    .flex-item {
        width: 99%;
       /* border: double #464bac;*/
    }
    input[type=button], input[type=submit], input[type=reset] {
        width: 99%;
    }



}
@media screen and (min-width: 400px) and (max-width: 479px){
    .flex-item {
        width: 40%;
        /*border: dashed #894dac;*/
    }
    input[type=button], input[type=submit], input[type=reset] {
        width: 50%;
    }
    h2, h3{
        margin-left: 5%;
    }

}
@media screen and (min-width: 480px) and  (max-width: 767px){
    .flex-item {
        width: 40%;
        /*border: dotted #ac4399;*/
    }
    input[type=button], input[type=submit], input[type=reset] {
        width: 50%;
    }
    h2, h3{
        margin-left: 5%;
    }

}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .flex-item {
        width: 40%;
        /*border: solid #ac2d27;*/
    }
    input[type=button], input[type=submit], input[type=reset] {
        width: 50%;
    }
    h2, h3{
        margin-left: 5%;
    }

}
@media screen and (min-width: 1024px){
    .flex-item {
        width: 40%;
    }
    input[type=button], input[type=submit], input[type=reset] {
        width: 520px;
    }
    h2, h3{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

}




